<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>???·Æ?±?¸?°?</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=ZOlpHCCyGnMnV9cIBlrH"></script>
</head>
<body>
<div id="map" style="width:100%;height:950px;"></div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
var position = new naver.maps.LatLng(37.3595704, 127.105399);
// (불필요) 기존의 선들을 보관하기 위한 변수
var lines = {};
var polygons = {};
var map = new naver.maps.Map('map', {
    center: position,
    zoom: 20
});


/* *
 * update_line(user_id, points)
 *
 * params:
 *   user_id : 유저의 고유ID
 *   points : 새로 추가된 점들의 리스트
 * 
 * example:
 *   user_id = "A93R3R9RWQ"
 *   points = [
 *       {'latitude': 37.1234, 'longitude': 128.1234},
 *       {'latitude': 37.1232, 'longitude': 128.1236}
 *   ]
 * */

var userList = new Array();
var user = new Object();
var num;

function CheckUserList(value) {
    for (var i = 0; i < userList.length; i++) {
        if (userList[i].id == value) {
            return true;
        }
    }
    return false;
}

function update_line(user_id, points) {
    if (!CheckUserList(user_id)) {
        user.id = user_id;
        user.color = "#" + Math.round(Math.random() * 0xFFFFFF).toString(16);
        num = 0;
    }
    var polyline = new naver.maps.Polyline({
        map: map,
        path: [],
        strokeColor: userList[num].color,
        strokeWeight: 2
    });


    for (var i = 0; i < points.length; i++) {
        var path = polyline.getPath();
        path.push(points);
    }
}
/* *
 * update_polygon(user_id, points)
 *
 * params:
 *   user_id : 유저의 고유ID
 *   points : Polygon을 구성하는 모든 점들의 List
 * 
 * example:
 *   user_id = "A93R3R9RWQ"
 *   points = [
 *       {'latitude': 37.1234, 'longitude': 128.1234},
 *       {'latitude': 37.1232, 'longitude': 128.1236},
 *       {'latitude': 37.1231, 'longitude': 128.1266},
 *       {'latitude': 37.1239, 'longitude': 128.1226},
 *       {'latitude': 37.1237, 'longitude': 128.1226}
 *   ]
 * */



function update_polygon(user_id, points) {
    if (!CheckUserList(user_id)) {
        user.id = user_id;
        user.color = "#" + Math.round(Math.random() * 0xFFFFFF).toString(16);
        num = 0;
    }
    var polygon = new naver.maps.Polygon({
        map: map,
        paths: [[]],
        fillColor: userList[num].color,
        fillOpacity: 0.3,
        strokeColor: userList[num].color,
        strokeOpacity: 0.6,
        strokeWeight: 3,
        clikable: true
    });

    for (var i = 0; i < points.length; i++) {
        var path = polygon.getPaths().getAt(0);
        path.push(points);
    }

}
var socket = io('http://goline.heek.kr');
socket.on('update', function(data) {
	for (user_id in data) {
		Array.prototype.push.apply(lines[user_id], data[uesr_id]);
		update_line(user_id, data[user_id]);
	}
});
socket.on('update_polygon', function(data) {
	for (user_id in data) {
		lines[user_id].push(data[uesr_id]);
		update_polygon(user_id, data[user_id]);
	}
});
socket.on('game_over', function(data) {
	for (i in data) {
		// data[i]
		// TODO: Android에 게임오버 알림 (+게임오버화면)
	}
});
</script>
</body>
</html>