<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>È¥µ·ÆÄ±«¸Á°¢</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=TxhuEBw_D6QNb4wuyGIR	"></script>
</head>
<body>
<div id="map" style="width:100%;height:950px;"></div>

<script>

var position = new naver.maps.LatLng(37.3595704, 127.105399);


var map = new naver.maps.Map('map', {
    center: position,
    zoom: 20
});

var a = new Array();


a[0] = new naver.maps.Polygon({
    map: map,
    paths: [[]],
    fillColor: '#ff0000',
    fillOpacity: 0.3,
    strokeColor: '#ff0000',
    strokeOpacity: 0.6,
    strokeWeight: 3,
    clikable: true
});
a[1] = new naver.maps.Polygon({
    map: map,
    paths: [[]],
    fillColor: '#708090',
    fillOpacity: 0.3,
    strokeColor: '#708090',
    strokeOpacity: 0.6,
    strokeWeight: 3,
    clikable: true
});

var count = 0;

naver.maps.Event.addListener(map, 'click', function(e) {
    count++;
    if(count<=5){
    var point = e.coord;

    var path = a[0].getPaths().getAt(0);
    path.push(point);

    var circle = new naver.maps.Circle({
    map: map,
    center: point,
    radius: 1,
    fillColor: 'crimson',
    fillOpacity: 0.8
    });
    }
    else{
    
    var point = e.coord;

    var path = a[1].getPaths().getAt(0);
    path.push(point);

    var circle1 = new naver.maps.Circle({
    map: map,
    center: point,
    radius: 1,
    fillColor: 'blue',
    fillOpacity: 0.8
    });

    


    }
});

</script>
</body>
</html>