extends layout

block content
    #map
    style.
        html, body {
            height: 100%;
            overflow: hidden;
        }
        #map{
            width: 100%;
            height: 100%;
        }
    script.
        var position = new naver.maps.LatLng(37.3595704, 127.105399);


        var map = new naver.maps.Map('map', {
            center: position,
            zoom: 20
        });

        var paths = [];

        var socket = io.connect('http://goline.heek.kr:8081');

        socket.on('init', function(data){
            console.log(data);
        });

        socket.on('update', function(data){
            console.log(data);
            var userId = data.userId;

            var pos = new naver.maps.LatLng(data.pos['latitude'], data.pos['longitude']);

            console.log(pos);

            if (paths[userId]==undefined) {
                console.log('create new path');
                paths[userId] = new naver.maps.Polygon({
                    map: map,
                    paths: [[]],
                    fillColor: '#ff0000',
                    fillOpacity: 0.3,
                    strokeColor: '#ff0000',
                    strokeOpacity: 0.6,
                    strokeWeight: 3,
                    clikable: true
                });
            }

            var path = paths[userId].getPaths().getAt(0);
            console.log(path);
            path.push(pos);
        });

        socket.emit('init', {roomId:'S1wiPcQt'});