doctype html
html
  head
    title= title
    script(type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=4mYGcKU0yZF0lhE1j5Ze")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    style.
        html, body {
            height: 100%;
            overflow: hidden;
        }
  body
    block content
