extends layout

head
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>::Go-Line::</title>

style.
    body{ background-color: #002366; }
    @import url(http://fonts.googleapis.com/css?family=Noto+Sans);
    
    .head{
        background-color: #002366;
        color: white;
        font-family: 'Noto Sans';
        text-align: center;
        font-size: 40px;
        width: 100%;
        height: 100px;
        line-height: 90px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #sub{
        font-size: 20px;
    }
    .go{
        font-size: 100px;
    }
    .kind{
        font-size: 20px;
        background-color: #002366;
        color: white;
        font-family: 'Noto Sans';
        text-align: center;
        margin-top: 400px;

    }
script.
    var hash = location.hash.substr(1);
    var room_id = hash.substr(hash.indexOf('room_id=')).split('&')[0].split('=')[1];

    function startApp() {
        document.appframe.location = "goline://join?room_id=" + room_id;
        // setTimeout("callback()", 1000);
    }
 
    function callback() {
        //history.back();
    }

<body onLoad="startApp()">
    <div class="head">
        Oh..<br id="sub">
        You didn't Install<br id="sub">
        <p class="go">GO-LINE?</p>
        <a class="kind" href="#">Don't Worry! Click Here and Get GO-LINE!</a>
    </div>
</body>